html {}

.container {
    display: grid;
    height: 98vh;
    width: 98vw;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.worship {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

.results {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
}
